$light_gray:rgb(240, 240, 240);
$white:rgb(255, 255, 255);
$button_color:rgb(139, 105, 254);
$black:rgb(21, 21, 21);
$dark_ligh_gray:rgb(137, 137, 137);


$mobile-width: 400px;
$tablet-width: 800px;
$desktop-width: 1280px;
